name: Build and Publish

on:
  - workflow_dispatch
  - workflow_call

jobs:
  lint:
    uses: ./.github/workflows/linter.yml

  build_wheels:
    needs: [lint]
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --wheel .
      
      - uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: ./dist/*.whl
  
  build_sdist:
    needs: [lint]
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build sdist
        run: pipx run build --sdist .

      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: ./dist/*.tar.gz

  publish_test:
    needs: [build_wheels, build_sdist]
    name: Publish package to TestPyPI
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/deployment/targeting-different-environments/using-environments-for-deployment#using-an-environment
    environment: release
    # https://github.com/pypa/gh-action-pypi-publish#trusted-publishing
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sdist
          path: dist
      
      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: dist
      
      - name: Display structure of downloaded files
        run: ls -R dist

      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/
  
  publish_prod:
    needs: [publish_test]
    name: Publish package to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sdist
          path: dist
      
      - uses: actions/download-artifact@v4
        with:
          name: wheels
          path: dist
      
      - name: Display structure of downloaded files
        run: ls -R dist

      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}